.#{$prefix}leaf {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition-duration: $show-duration;
    transition-property: max-height;
    transition-timing-function: $transition-timing-function;

    &.#{$prefix}visible {
        max-height: $max-height-for-animation;
    }

    &.#{$prefix}top-level {
        max-height: 1000000px !important;
    }
}
